.dully{
    margin-left: 180px;
    margin-top: 40px;
    font-size: x-large;
    cursor: pointer;
}

.redd{
    margin-left: 180px;
    margin-top: 40px;
    font-size: x-large;
    color: red;
    cursor: pointer;
}